#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.text-container {
  width: 200px; /* Ширина контейнера */
  height: 60px; /* Высота контейнера */
  overflow: hidden; /* Обрезка текста */
  display: -webkit-box; /* Для многострочности */
  -webkit-line-clamp: 3; /* Количество строк */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  text-overflow: ellipsis; /* Замена обрезанного текста на многоточие */
  font-size: 16px; /* Размер шрифта */
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr); /* Две колонки одинаковой ширины */
  gap: 10px; /* Отступы между элементами */
  row-gap: 50px; /* Большой отступ между рядами */
}

.item {
  padding: 10px;
  border: 1px solid #000;
}
.heading {
  grid-column: span 3; /* Заголовок занимает три колонки */
}